@{
    ViewData["Title"] = "Home";
}

<div class="text-center" style="color:black;">
    <h1 class="display-4">Pheonix Hospital Company Ltd.</h1>
    <br />
    <h1 display="4"> 
        Book local dentists<br />
        who take your insurance
    </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
